.report {
    width:85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    border: 1px solid lightgray;
    padding: 1rem;
    font-size: 18px;

    h2.emp_name {
        font-size: 30px;
        grid-column: 1/ span 3;
        font-weight: 700;
    }
    
    .headers {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .rec_links {
        display: flex;
    }

    .no_reps {
        font-size: 1.25rem;
        font-weight: 600;
    }

    @media screen and (max-width:600px) {
        font-size: 14px;
        
        .headers {
            font-size: 16px;
        }

        .no_reps {
            grid-column: 1/ span 3;
        }
    }
    
    .return_link {
        grid-column: 1/span 3;
    }
}