{% extends 'base.html' %} {% block content %}
<div class="add_emp">
  <h2>Add Employee:</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.first_name.label }} <br />
      {{ form.first_name(size=32) }} <br />
      {% for errors in form.first_name.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.last_name.label }} <br />
      {{ form.last_name(size=32) }} <br />
      {% for errors in form.last_name.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.location.label }} <br />
      {{ form.location(style="height:32px;") }} <br />
      {% for error in form.location.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.date_of_hire.label }} <br />
      {{ form.date_of_hire(size=32) }} <br />
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}
