{% extends 'base.html' %} {% block content %}
<div class="report">
  <h2 class="emp_name">{{ employee.first_name }} {{ employee.last_name }}</h2>
  <span class="headers">Violation:</span>
  <span class="headers">Reason:</span>
  <span class="headers">Date of Issue:</span>
  <span class="headers">Recorded by:</span>
  {% if reports %} {% for report in reports %}
  <span>{{ report.issue }}</span>
  <span>{{ report.reason }}</span>
  <span>{{ report.date_of.strftime('%m/%d/%Y') }}</span>
  <span
    >{{ users[report.user_id-1].first_name }} [{{
    users[report.user_id-1].username }}]</span
  >
  {% endfor %} {% else %}
  <p class="no_reps">No Reports Recorded</p>
  {% endif %}
  <div class="rec_links">
    <a href="{{ url_for('record_late', emp_id=employee.id) }}">New Violation</a>
    {% if employee.emp_active == 1 %}
    <a href="" onclick="handle_click()">Terminate</a>
    {% endif %}
    <a href="{{ url_for('employee_listing' ) }}" class="return_link">Return</a>
  </div>
</div>

<script>
  let redirectUrl = "{{ url_for('term_employee', emp_id=employee.id ) }}"
  let handle_click = () => {
    if (confirm("Terminate Employee?") == true) {
      window.location.href = redirectUrl
    }
  }
</script>
{% endblock %}
